﻿@{
    ViewBag.Title = "活动看板";
}

<h2>活动看板</h2>
<h4>(点击标题展开)</h4>
<hr class="divider" />
@*
    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                if ('@Request.Browser.Browser'.replace(' ', '').indexOf('InternetExplorer') >= 0) {
                    $("#js_article").html("<iframe style='border: 0;' width='100%' height='720' src='http://mp.weixin.qq.com/s?__biz=MzA5NTU3NDYwNA==&mid=209924813&idx=3&sn=8c222c9d96fae2f5aede20b7aa0d5ba1&scene=1&from=singlemessage&isappinstalled=0#rd'></iframe>");
                }
            });
        </script>
    }*@



@*<div class="panel-group testimonial" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-0">
            <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse-0" aria-expanded="false" aria-controls="collapse-0">
                您温哥华的好帮手 ---- Judy Dou 地产公司，金牌新移民安家团队
            </a>
            <hr class="divider" />
        </div>
        <div id="collapse-0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-0">
            <div class="panel-body">
                <p class="text-indent">
                    几乎每个决定移民加拿大的朋友，都有过类似的担忧：要买房安家，安排孩子入学，考驾照，找银行……可是自己英语不好，

                    也没有亲人在身边，到那里可怎么办啊？！当您看到这篇文章的时候，您就不必再担心了，因为您认识了我们 — Judy Dou地产公司，新移民安置服务专家！
                </p>


            </div>
        </div>
    </div>
*@


<p style="clear: both; white-space: normal; text-align: center;">
    <br />
</p>

<p>
    <br />
</p>
<div class="panel-group testimonial" id="accordion" role="tablist" aria-multiselectable="true">



    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-0">
            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-0" aria-expanded="false" aria-controls="collapse-0">
                <span style="font-family: inherit; color: rgb(0, 176, 240); font-size: 18px;">
                    <strong>
                        <strong>
                            2015年3月11日, 龍美地产开业
                        </strong>
                    </strong>
                </span>
            </a>
            <hr class="divider" />
        </div>
        <div id="collapse-0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-0">
            <div class="panel-body">
                <p class="text-indent">
                    “龍美地产”， 于2015年3月11日在列治文举行了隆重的开幕庆典。在大温各界精英的见证下，顺利的扬帆起航了。
                </p>

                <p class="text-indent">
                    龍美地产是一家集地产销售，商业地产开发为一体的新型企业，把握当前地产行业发展趋势，推出全新的经营理念筹。龍美地产凭借着超前的行业思维和独到的经营理念，秉承着 “联盟合作共赢” 的目标，整合温哥华地区最顶尖的地产经纪，共同创建地产行业全新的发展模式。
                </p>

                <p class="text-indent">
                    “聚龙精英，创美未来” 是龍美地产的核心理念，寓意着聚集华人精英，共创美好未来。龍美人带着执着的信念，以及对未来的期许，于2015年1月11日正式创立龍美地产，办公总部设在列治文，未来将于一年内在温哥华西区成立分公司，并将逐步扩大至大温哥华各区域。龍美团队成员均有着长期地产专业经验，期盼能够携手更多的有志之士，将新型经营战略传承发展，让龍美地产成为加拿大地区地产行业真正的带头者。
                </p>

                <p class="text-indent">
                    站在巨人的肩膀上，可以比别人看的更远，龍美地产希望在所有龍美人的努力下，能够成为加拿大地产行业的巨人，让更多的追梦者站在龍美的肩膀上，与我们一同追逐梦想。


                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <br>
                    <br>
                    <img class="avatar" src="~/Images/KaiYe/grand-opening21.png" />
                    <br>
                    <br>
                    <img class="avatar" src="~/Images/KaiYe/grand-opening31.png" />
                    <br>
                    <br>
                    <img class="avatar" src="~/Images/KaiYe/grand-opening41.png" />
                <p style="clear: both; white-space: normal; text-align: center ">
                    <span style="font-size: 14px;"><strong>龙美集团总经理Mike Reily上台讲话</strong></span>
                </p>

              

                <br>
                <br>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img style=" text-align: center " class="avatar" src="~/Images/KaiYe/grand-opening51.png" />
                </p>
                <p style="clear: both; white-space: normal; text-align: center ">
                    <span style="font-size: 14px;"><strong>龙美集团执行董事刘毅上台发表演说</strong></span>
                </p>
                <br>
                <br>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/KaiYe/grand-opening61.png" />
                </p>
                <p style="clear: both; white-space: normal; text-align: center ">
                    <span style="font-size: 14px;"><strong>龙美地产合伙人Judy Dou 窦继茹上台发表演说</strong></span>
                </p>
                <br>
                <br>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/KaiYe/grand-opening71.png" />
                </p>
                <p style="clear: both; white-space: normal; text-align: center">
                    <span style="font-size: 14px;"><strong>龙美创始人们为公司剪彩</strong></span>
                    <br>
                    <br>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/KaiYe/grand-opening81.png" />
                </p>
            </div>
        </div>
    </div>
</div>




    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-1">
            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                <span style="font-family: inherit; color: rgb(0, 176, 240); font-size: 18px;">
                    <strong>
                        <strong>
                            2015年7月12日, 龍美地产奢华豪宅派对之旅
                        </strong>
                    </strong>
                </span>
            </a>
            <hr class="divider" />
        </div>
        <div id="collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
            <div class="panel-body">
                <p class="text-indent">
                    龍美地产奢华豪宅派对之旅于7月12日在位于南素里久负盛名的心脏地带Panoroma Ridge 的全新世界级豪宅奢华开启。此次活动以私人派对的形式邀请了极具购买力的买家朋友前来参与，为潜力买家们营造了一个近距离感受顶级豪宅的完美体验。
                </p>

                <p class="text-indent">
                    此次活动迎来了众多实力买家，他们携同家眷朋友一起全方位感受了此世界级豪宅的每一个细节。从好莱坞风格宅院大门一路驶来将车泊在能容纳数十辆车的停车库，再步入拥有10英尺挑高非洲红木大前门，顶级大理石地面，天花板水晶吊灯的玄关设计已然让宾客们感受到当今最高品质的定制技术与精湛工艺。从8间主卧房15个卫生间到超大规模的私家影音院；从娱乐室，健身房，瑜伽室，桑拿房到私藏酒窖；再从中西式厨房到独立宾客屋，各处均配以高级智能控制技术系统。这些都无不让客人们充分感受到了豪宅设计者在功能化人性化上的设计理念。匠心独造的坡型后院园林设计，喷泉游泳池配以明火壁炉在侧，户外豪华沙发休息区上宾客们在和煦的阳光下享受着精致美景和美食，细细品味着豪宅内外的每一寸细节，身临其境地了解和感受到豪宅的设计理念及制造工艺。宾客们对龍美此次派对活动给予了高度评价，希望通过此类活动能接触到更多的豪宅地产项目，更全面的在购买之前充分了解项目具体情况以实现最终的满意选择。
                </p>

                <p class="text-indent">
                    龍美地产奢华豪宅派对之旅已然开启，我们将陆续举办各种豪宅派对，为我们的广大客户提供更多近距离豪宅体验机会。
                </p>

                <p class="text-indent">
                    龍美愿与您分享更多精彩，携手龍美共创未来！


                </p>


                <br>
                <br>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/HaoHuaPaiDui/events31.png" />
                    <br>
                    <br>
                    <img class="avatar" src="~/Images/HaoHuaPaiDui/events41.png" />
                    <br>
                    <br>
                    <img class="avatar" src="~/Images/HaoHuaPaiDui/events51.png" />
                    <br>
                    <br>
                    <img class="avatar" src="~/Images/HaoHuaPaiDui/events61.png" />
                    <br>
                    <br>
                    <img class="avatar" src="~/Images/HaoHuaPaiDui/events71.png" />
                </p>
            </div>
        </div>
    </div>






    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-2">
            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                <span style="font-family: inherit; color: rgb(0, 176, 240); font-size: 18px;">
                    <strong>
                        <strong>
                            2015年9月11日, 龍美地产半年庆
                        </strong>
                    </strong>
                </span>
            </a>
            <hr class="divider" />
        </div>
        <div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
            <div class="panel-body">
                <p class="text-indent">
                    9月11日下午5点30分，一场庆祝龙美地产成立半年的盛会于1029咖啡馆热烈举行。龙美地产6位联合创始人Jason Liu、Judy Dou、Julie Wei、Anna Gou、David Sun、Sharon Ma以及总经理Mike Reilly纷纷出席并上台发表演说。1029现场还汇聚了龙美大家族众多新生地产经纪以及各位亲朋好友，大家都情绪高涨，热情地交流着，度过了一个充实而振奋人心的夜晚。
                </p>

                <p class="text-indent">
                    地产界新生力量Steven Yang和Sergey Avramenko作为这次宴会的主持人，一开场便分别用流畅的英文和稍显瘪嘴的普通话引来宾捧腹。龙美地产执行董事刘毅首先上台发言，感谢大家相聚在此出席龙美半年庆活动。龙美地产现在在温哥华华人圈里是好评如潮，颇得人心。为什么呢？刘毅讲到：“因为我们做的是高大上的事情，我们做得是正能量的事情。”
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/BanNianQing/1.jpg" />
                </p>
                <p style="clear: both; white-space: normal; text-align: center;">
                    <span style="font-size: 14px;"><strong>龙美地产半年庆盛宴现场</strong></span>
                </p>
                <p class="text-indent">
                    龙美地产的与众不同不仅在于它的结构，更在于它行事的方式，它是分享式的，是家庭聚会式的。刘毅说道：“通过分享，所有的事情都变难为易，那我们就可以合起来做一件大事，龙美对未来的发展有着很高的期望，我们的公司文化会影响我们走得更好更远。单打独斗的时代已经过去，我们正在创造合作和分享的历史。”
                </p>

                <p class="text-indent">
                    “做地产经纪很不容易，很辛苦，我们要求一流的服务，就付出比别人更多地努力。但通过交流的平台，就会发现大家都不容易，我们之间可以相互分享喜悲。”诚然，1029咖啡馆就是这样一个平台。刘毅表示：“1029咖啡馆并不是一个喝咖啡的地方，每周六都有不同的人聚在这里，大家筹集资金，寻求合作伙伴。所以说1029是一个实现梦想的地方。现在1029有100个股东，同时就是100个寻梦人。”


                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/BanNianQing/3.jpg" />
                </p>
                <p style="clear: both; white-space: normal; text-align: center;">
                    <span style="font-size: 14px;"><strong>龙美集团执行董事刘毅上台发表演说</strong></span>
                </p>

                <p class="text-indent">
                    说着说着，香气扑鼻的晚饭转眼呈现在大家面前。既然是盛会，当然少不了美食。大虾、三文鱼、扇贝、蔬菜沙拉、海鲜炒饭、各式甜点等应有尽有。很快宴会的高潮便从耳部听觉转向味觉，宾客们在花式的味蕾选择面前更加轻松愉快地进行精神的交流。
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/BanNianQing/6.jpg" />
                    <br>
                    <br>
                    <img class="avatar" src="~/Images/BanNianQing/7.jpg" />
                </p>
                <br>
                <br>

                <p class="text-indent">
                    饭后，联合创始人Anna Gou、Judy Dou、Julie Wei还有David Sun也分别上台致词。谈话间，老一辈的金牌经纪人无不鼓励着青年一代的地产人，表示愿意分享并寄予他们无限的希望。同时Judy Dou还提到所有人此刻的相聚都是为了同一个梦想，那就是为所有的地产经纪人建立一个好的平台。在这个平台上，大家可以相互合作、帮助，其乐融融。
                </p>

                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/BanNianQing/12.jpg" />

                </p>
                <br>
                <br>
                <p class="text-indent">
                    为了庆祝龙美地产成立半年，晚会现场特别还举行了抽奖仪式，让在场每个人都有机会成为“幸运儿”，获得龙美大奖。更让人觉得温馨的是，1029咖啡馆还为本月5位过生日的龙美人准备了生日蛋糕。全场齐唱生日快乐，空气里都飘着温馨的味道，让人真觉得这里不是公司、不谈生意，只是家人朋友、只有浓浓亲情。

                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/BanNianQing/11.jpg" />
                </p>
                <p style="clear: both; white-space: normal; text-align: center;">
                    <span style="font-size: 14px;"><strong>龙美集团为本月过生的人准备的生日蛋糕</strong></span>
                </p>

                <p class="text-indent">
                    “众人拾柴火焰高”，龙美地产、1029咖啡馆都是有梦者实现梦想的地方。这里同时也是家，大家相互扶持，共同进步。相信龙美地产一定会凭借着它出色的理念和专业的团队，在接下来的路上，吸引来更多血气方刚志同道合之辈，并在地产界越做越好。

                </p>

            </div>
        </div>
    </div>







    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-3">
            <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                <span style="font-family: inherit; color: rgb(0, 176, 240); font-size: 18px;"><strong><strong>2015年10月29日，龙美为1029庆生--热烈祝贺 1029Café周岁庆典！</strong></strong></span>
            </a>
            <hr class="divider" />
        </div>
        <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
            <div class="panel-body">

                <p>
                    <br />
                </p>
                @*<p style="text-align:center">
                        <img data-s="300,640" data-type="jpeg" src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzVGUGTg6MM7FGaicwKdAy8kn8rGAnqa2NGHctG6fBRiaDj76oLeqRpuxDQ/0?wx_fmt=jpeg" data-ratio="0.8102766798418972" data-w="" style="max-width: 100%; height: auto !important;"/>
                    </p>*@
                <p style="clear: both; white-space: normal;">
                    2015年10月29日，在列治文的River Rock Casino Resort, 1029&nbsp;<strong>Café&nbsp;</strong>周年庆典盛大举行，1029全体股东，中国驻温哥华总领馆商务参赞先生俞善君、商务参赞崔志飞先生、自由党国会议员候任人苏立道先生、本拿比市议员王白进先生、列治文市议员麦乐田先生众多重量级嘉宾到场，一起庆祝这个盛大的纪念日。<br />
                </p>
                <p style="clear: both; white-space: normal;">
                    <br />
                </p>
                <p style="clear: both; white-space: normal;">
                    1029咖啡馆是北美众筹网平台2015年度从孕育到孵化再到发展最具代表性的产物，是北美华人历史上迄今吸引最广泛关注的投资项目，是“筹人、筹资、筹智”理念的一次完美实践。截至目前，已发展了100位各族裔股东，短短一年时间，1029就成为温哥华华人社会生活中一个经常性的话题，成为各界瞩目的一个现象，成为华人了解加拿大社会，加拿大其他族裔了解华人的一个平台和窗口。1029模式，正以其平等、互助、互信、分享，赢得越来越广泛的重视，成为新一代华人精英自发组织起来，要在所在国所在地更深入发挥影响力的集体自觉。这次盛会也是1029众多股东第一次在公众面前整体亮相。


                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/CafeYear/2.jpg" />
                </p>
                <p style="clear: both; white-space: normal; text-align: center;">
                    <span style="font-size: 14px;"><strong>1029有众多不让须眉的杰出女性。左起为汇理金融总裁，1029公益基金会秘书长Flora Dou, 龙美地产合伙人苟红琳，卫九如，1029公益基金会名誉主席马丽，龙美地产合伙人马晓宇，Judy Dou 窦继茹</strong></span>
                </p>
                
                <p style="clear: both; white-space: normal;">
                    <br />
                </p>
                <p style="clear: both; white-space: normal;">
                    晚会现场，巨大屏幕上播放了由优视传媒 Yes Media特别制作的的1029回顾电影，短片展现了1029&nbsp;<strong>Café&nbsp;</strong>从一开始的概念推出，到架构酝酿，到股东落实，到落地生根，再到推广发展，整个孕育、孵化、运作的全过程。作为北美华人圈的一个事件，1029从温哥华开始，现在已引起北美各地的关注，1029的北美重点城市布局业已拉开。
                </p>


                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/CafeYear/5.jpg" />
                </p>
                <p style="clear: both; white-space: normal; text-align: center;">
                    <span style="font-size: 14px;"><strong>龙美地产合伙人Judy Dou 窦继茹领奖</strong></span>
                </p>


                <p style="clear: both; white-space: normal;">
                    <span style="word-wrap: break-word; text-align: center; line-height: 1.8em;">1029董事长</span>刘毅在致辞中介绍了1029咖啡馆诞生的整个过程，他说在温哥华以燎原般的速度进入了人们视野，是因为众筹模式应迎了华人移民的投资需求。他说，众筹是一种共赢模式，它发动公众力量，将社会上富余资源利用起来，盘活资源，提高效率。所谓涓涓细流汇成海，众人拾柴火焰高。另外，1029平台在帮助更多的人的同时，也满足了作为股东的归属感、参与感、荣誉感和使命感，所以一推出，就受到广泛关注。
                </p>
                <p style="clear: both; white-space: normal;">
                    <br />
                </p>
                <p style="clear: both; white-space: normal;">
                    他说，自古以来，华人就中了一个魔咒：“一个中国人是条龙，三个中国人是条虫。”1029咖啡馆是北美众筹网（North America Crowdfunding）的首个中国式众筹理念的落地产品，希望将华裔小区的精英们团结起来，互相帮助互相合作，由朋友变成伙伴，彻底打破零和游戏你死我活的游戏规则，破除这个古老的魔咒。
                </p>
                <p style="clear: both; white-space: normal;">
                    <br />
                </p>
                <p style="clear: both; white-space: normal;">
                    他特别感谢开初帮助1029咖啡馆从概念到现实落地的几位股东，他说，患难见真情，范总、老虞、Steven、邓克飞、马丽和包括自己在内的几位股东在1029最困难的时候分别拿出资金，帮助1029咖啡馆在最紧急的关头拿下了这座物业，奠定了1029落地的坚实基础。
                </p>
                <p style="clear: both; white-space: normal;">
                    <br />
                </p>
                <p style="clear: both; white-space: normal;">
                    据刘毅介绍，目前1029所有股东是来自全国各地，33个不同行业背景的成功企业家或专业人士。1029的成功模式是价值理念的认同、同股同权、去中心化、民主选举决策及执行机构、容纳和开放。在这样强大的股东合力和相互信任的基础上，1029取得了众多实质性成果，从成为温哥华首个发起并完成超过70000加币对尼泊尔和西藏赈灾捐款的华人团体，到为硅谷高科技项目成功募集800万加币，再到成立加中体育基金会公益组织，在成立之际即为温哥华总医院举办捐助伤残人士的慈善筹款活动，众多事件在1029的平台上发生了聚变，众多项目在1029平台上找到了资金人才渠道资源。
                </p>
                <p style="clear: both; white-space: normal;">
                    <br />
                </p>
                <p style="clear: both; white-space: normal;">
                    据刘毅介绍，除了本身股东的服务工作和经营以外，1029咖啡馆成立了1029青年会，为80、90后的年轻生力军创造创业和发展的平台，不遗余力地在培育下一代上面下功夫。所有1029的股东都可以成为青年会的导师，利用他们成功的经验帮助年轻一代实现梦想。
                </p>
                <p style="clear: both; white-space: normal;">
                    <br />
                </p>
                <p style="clear: both; white-space: normal;">
                    总之，1029是新一代华人带给加拿大的新贡献，是华人影响力日渐增长，诉求日渐增多，不自外于居住国的具体体现，是华人凝聚力寻求新载体的一次意义非凡的实践。
                </p>
                <p style="clear: both; white-space: normal;">
                    <br />
                </p>



                @*<p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <img src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzVhfOXdD4m4dA8Obia0S8Axcsglq2oR9x7ATpZadI83C7DdE0FUqBSdwA/0?wx_fmt=jpeg" data-type="jpeg" data-ratio="0.6654545454545454" data-w="550" style="max-width: 550px; height: auto !important; word-wrap: break-word; border: none; margin: 20px auto; display: block;"/>
                    </p>
                    <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <span style="font-size: 14px;"><strong>中国驻温总领馆商务参赞俞善君先生上台致辞</strong></span>
                    </p>*@



                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <br style="word-wrap: break-word;" />
                </p>
                <p style="clear: both; white-space: normal;">
                    <span style="word-wrap: break-word; text-align: center; line-height: 1.8em;">中国驻温总领馆商务参赞俞善君先生在致辞中表示，</span>过去一年，跟咖啡馆股东有过多次交流，短短一年，咖啡馆做了不少事，促进了咖啡馆内股东的业务发展，包括促进了加拿大的就业，经济、文化等发展，值得祝贺。希望咖啡馆越办越红火，给社会带来更多的正能量。作为商务参赞，他的主要职责是促进中国与加拿大的经贸合作，他也借此机会，希望1029咖啡馆能为中加两国的经贸交流作出更多贡献。
                </p>
                <p style="clear: both; white-space: normal;">
                    <br />
                </p>


                @*<p style="text-align:center">
                        <img data-s="300,640" data-type="jpeg" src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzVuM2Pv4FIQeUAxxWALtdR0RtweoqcJRRg9t2NsjAczibgHSbftpvcpUQ/0?wx_fmt=jpeg" data-ratio="0.66600790513834" data-w="" style="max-width: 100%; height: auto !important;"/>
                    </p>*@


                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    自由党列治文东选区国会议员候任人苏立道先生代表新当选的候任总理贾斯廷•特鲁多(Justin Trudeau)向1029问好，苏立道为1029在短时间内做到这么大的贡献感到非常振奋和骄傲。他认为，1029作为一个商业机构，不仅为社区做了很大贡献，也成为了加中两国政治经济交流的桥梁。他说，能够为1029在列治文见证一周年的年庆是列治文的荣幸，相信未来列治文也会更好的成为加中两国的桥梁。他表示，加强两国的政治和经济的联系也是新一届总理特鲁多要实现的目标，自由党政府会更加加深两国交流，未来会比上届政府更加深入的推动两国贸易。苏立道先生认为，除了两国的情谊，人与人的情谊也非常重要，在这方面，他认为无法想像能有一个组织比1029做得更好。<br />
                </p>



                @*<p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <img src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzV5ibBqVyRCnjn4wiaaRRQc9yEsPTL2Ld11qYvRWQAtBM3m2krpgbgBIvw/0?wx_fmt=jpeg" data-type="jpeg" data-ratio="0.6654545454545454" data-w="550" style="max-width: 550px; height: auto !important; word-wrap: break-word; border: none; margin: 20px auto; display: block;"/>
                    </p>
                    <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <span style="font-size: 14px;"><strong>本拿比市议员王白进先生致辞</strong></span>
                    </p>*@



                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <br style="word-wrap: break-word;" />
                </p>
                <p style="clear: both; white-space: normal;">
                    作为1029的老朋友，1029的重要见证人之一<span style="word-wrap: break-word; text-align: center; line-height: 1.8em;">本拿比市议员王白进先生在致辞感概良多。他特别强调</span>，1029作为新兴平台不光凝聚了企业家们的财富和智慧，也凝聚了爱心，在尼泊尔和西藏赈灾的活动中、在加中体育基金会公益组织的等许多活动中，1029都发挥了力量。这是一个非常有凝聚力、代表性的平台，是新一代华人正能量的体现。他表示，今后会和1029的朋友们一起作出更多努力，传递更多正能量。
                </p>

                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/CafeYear/3.jpg" />
                    <br>
                    <br>
                    <img class="avatar" src="~/Images/CafeYear/4.jpg" />
                </p>
                <p style="clear: both; white-space: normal; text-align: center;">
                    <span style="font-size: 14px;"><strong>1029生日蛋糕</strong></span>
                </p>

                @*<p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <img src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzVB9y283DmCYjic7CAoOUzpnX1qyuZWCvNP0geiaML0DibpLe0BG49sZcog/0?wx_fmt=jpeg" data-type="jpeg" data-ratio="0.6654545454545454" data-w="550" style="max-width: 550px; height: auto !important; word-wrap: break-word; border: none; margin: 20px auto; display: block;"/>
                    </p>*@


                <br>
                <br>
                <br>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <span style="font-size: 14px;"><strong>列治文市议员麦乐田先生致辞</strong></span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px;">
                    <br />
                </p>
                <p style="clear: both; white-space: normal;">
                    <span style="word-wrap: break-word; text-align: center;">列治文市议员麦乐田先生对1029落地列治文表示感谢。他认为，列治文是一个华裔众多的城市，在这样一个城市诞生的1029，也是整个城市文化风貌的体现。他也希望通过1029，能够带动更多的华人走入社区，为列治文的城市建设做出更多贡献。</span>
                </p>
                <p style="clear: both; white-space: normal;">
                    <span style="word-wrap: break-word; text-align: center;"><br /></span>
                </p>
                <p style="clear: both; white-space: normal;">
                    在庆典中，有太多的好事要和大家分享，其中最大的一件喜事就是1029的年刊——《1029咖啡馆一周年纪念册》首发仪式。据年刊总编辑董春鸿女士介绍，从筹画到出版，这本书只用了不到三个月的时间，如此高效率，也是1029凝聚力、创造边和执行力的体现。她满怀深情地说，这是一本镌刻着众筹基因的书，这是一本承载着百名发起人正能量的书，这是一本白描海外华人精英情怀的书，这是一本无法用书的定价来评定价值的书。这本书是1029咖啡馆的元年史，这本书是中国式众筹的海外实践纪实，这本书是股东们回望初心的备忘录，这本书是温哥华1029咖啡馆的集体名片。
                </p>




                @*<p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <img src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzVEV68tv4sjYvpd3pQE9HRJibedwVRKBMGSJoRVVv2OoasTWDwENeOoOg/0?wx_fmt=jpeg" data-type="jpeg" data-ratio="0.6654545454545454" data-w="550" style="max-width: 550px; height: auto !important; word-wrap: break-word; border: none; margin: 20px auto; display: block;"/>
                    </p>
                    <p style="clear: both; white-space: normal; text-align: center;">
                        <strong><span style="font-size: 12px;">右二起：92号股东、年刊总编辑董春鸿女士；<span style="word-wrap: break-word; line-height: 1.8em;">乐活网、高度传媒执行总裁Lily Li；1029的3号股东、执委会代表、龙美地产联合创始人Sharon Ma；1029的17号股东、监事会主席、著名刘一手火锅创办人Helen Ran；4号股东、北美众筹网首席技术官、1029秘书长Tomson Ai；1029咖啡馆总经理Micky Dong</span></span></strong>
                    </p>
                    <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <img src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzVhBL765gSL0Bq8uibpUjgrM8oAA0Komic4pcFIHicZ6BewaBaYXL0dkggw/0?wx_fmt=jpeg" data-type="jpeg" data-ratio="0.6654545454545454" data-w="550" style="max-width: 550px; height: auto !important; word-wrap: break-word; border: none; margin: 20px auto; display: block;"/>
                    </p>*@


                <br>
                <br>
                <br>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <span style="font-size: 14px;"><strong><span style="word-wrap: break-word; text-align: start;">1029年刊总编辑董春鸿女士为年刊进行红绸揭幕并致辞</span></strong></span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px;">
                    <strong><br /></strong>
                </p>
                <p style="clear: both; white-space: normal;">
                    谈到编辑过程，董春鸿女士说，本书从酝酿到成书历经140天，期间经历过各种困难挑战质疑，曾经多少次的灰心焦虑难过，每一次都有放弃的充分理由。所幸得到来自1029内外各种力量的支持，方得以完成这一虽不完美然而无憾的结果。借此机会，她要感谢这些可爱的人们：
                </p>
                <p style="clear: both; white-space: normal;">
                    她由衷感谢家人，父母、先生和孩子们。他们用包容仁爱成全了年刊工作；感谢1029秘书长艾江和秘书处同仁们。大家分工合作、群策群力。这本书是秘书处交给1029的年度工作总结；感谢年刊编委会。由股东志愿组成的战场指挥部，集思广益，确定大局。1号刘毅的果决和无条件支持对本书的完成意义重大；感谢年刊资金组。兵马未动，粮草先行。急难险重，一一破解。老鱼的担当精神尤其令人印象深刻。Winnie的广告方案组织，颖华的年刊征订组织，十分干练到位；感谢主要撰稿人刘毅、张家卫、马晓宇、朱晓鸣。大家按照编辑的要求，保质保量完成任务，表现出超强的理论水平，专业的功底，和大局作风；感谢Henry Zhang。他临危受命，快速组织精兵强将，协调督办，大帅风范；感谢高度传媒、感谢乐活网。他们作为承办方，从专业的角度为本书提供内容章节策划、部分内容撰写、翻译及全书排版设计。实践证明，高度、乐活是执行力非常强的靠谱媒体；感谢印刷总监，股东多远。他后期的加入，保证了年刊的进度。印刷、统筹、刊物寄送上丝丝入扣，最终完美收官；她尤其感谢青年会10个小伙伴。他们每人对接10名股东，在前期联络股东。他们在资料信息收集、整理、提交、补充、更新等最细微的工作中付出了大量时间精力。特别感谢Queena, Abby, 和Mia，她们帮助分类归档和传递资料，随叫随到，付出太多；感谢北美众筹网。他们协助提供了许多原始资料及照片，为还原历史提供了可靠依据。Christianna和 Leon， 认真高效，技能全面，是难得的合作伙伴；感谢征文撰稿人。征文是自愿撰写的，他们愿意拿出宝贵的时间，真情书写自己与1029的故事，而且字里行间写的都是对1029这个大家庭的温情与祝福。他们的文字也使本书灵动起来；感谢全体股东。大家凭众筹的理念，用众筹的方式，众筹了经费，众筹了思想，共同撰写了这本北美第一个中国式众筹咖啡馆的成长纪实。
                </p>
                <p style="clear: both; white-space: normal;">
                    <br />
                </p>
                <p style="clear: both; white-space: normal;">
                    她认为，全书最最有价值的部分，就是1029咖啡馆首期100位股东齐齐整整的亮相，这是一种加倍的力量；全书最最有可读性的部分，是每位股东的背景、经历、思考和情怀。
                </p>
                <p style="clear: both; white-space: normal;">
                    <strong style="word-wrap: break-word;"></strong>
                </p>



                @*<p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <img src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzVOyRNpu69EHvurQ2PicgHptvicduGU0RrQmaz7YcjKYLorabUkL3E98ibw/0?wx_fmt=jpeg" data-type="jpeg" data-ratio="0.6654545454545454" data-w="550" style="max-width: 550px; height: auto !important; word-wrap: break-word; border: none; margin: 20px auto; display: block;"/>
                    </p>
                    <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <strong><span style="word-wrap: break-word; text-align: start; font-size: 14px;"><span style="word-wrap: break-word; line-height: 25.2px;">全体举杯祝1029的明天更加辉煌和灿烂，</span>著名歌唱家李振杰演唱“阳光路上”-献给1029&nbsp;</span></strong><span style="word-wrap: break-word; text-align: start;">&nbsp;<strong style="word-wrap: break-word;">&nbsp;</strong></span>&nbsp; &nbsp; &nbsp;
                    </p>
                    <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <img src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzVdP4I3HzPA72KKNgsnsVn6tQjHEe0WTVSEExEDybbI0ZMqjzOF1iaib0A/0?wx_fmt=jpeg" data-type="jpeg" data-ratio="0.6654545454545454" data-w="550" style="max-width: 550px; height: auto !important; word-wrap: break-word; border: none; margin: 20px auto; display: block;"/>
                    </p>*@




                <br>
                <br>
                <br>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <span style="font-size: 14px;"><strong style="word-wrap: break-word; text-align: start;">1029的24号股东，1029公益基金会名誉主席，加拿大妇女联合会会长，加拿大华人投资董</strong><span style="word-wrap: break-word; line-height: 1.8em; text-align: start;"><strong style="word-wrap: break-word;">事长马丽女士致辞</strong></span></span>
                </p>
                <p style="clear: both; white-space: normal;">
                    现场同时宣告1029慈善基金会（1029 Charity Foundation）成立。1029公益基金会名誉主席马丽表示，非常高兴参加这次盛宴，非常高兴被委托为基金会的荣誉主席，自离开神圣的教师岗位来到商场后，目标就是想成为企业家，让我能挣更多的钱去做慈善，来到加拿大，常想起中国的古训：富贵不能淫，贫贱不能移，威武不能屈。如果我们这群人应该为社会做更多贡献，愿我们这个基金会能够代表更多的人去帮助更多人，让我们的爱延伸到社会的各个角落，让我们为第二故乡加拿大及我们的祖籍中国献上诚挚的爱意。
                </p>






                @*<p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px;">
                        <img src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzVt94HVxOPVEy3BtLL0hbVybaB5SrHzFdiaTkiaK1ySXbvZc0jkTHkJFPg/0?wx_fmt=jpeg" data-type="jpeg" data-ratio="0.6654545454545454" data-w="550" style="max-width: 550px; height: auto !important; word-wrap: break-word; border: none; margin: 20px auto; display: block;"/>
                    </p>
                    <p style="clear: both; white-space: normal; text-align: center;">
                        <span style="font-size: 14px;"><strong>由Amy和Edward夫妇创办的爱迪珠宝公司向1029捐赠定制挂链</strong></span>
                    </p>
                    <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <img src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzVhdo4RJ8mR9l3WXzvBcPnjbh7AmshJBcQHlLvvibRkKhj61T3env0vibw/0?wx_fmt=jpeg" data-type="jpeg" data-ratio="0.6654545454545454" data-w="550" style="max-width: 550px; height: auto !important; word-wrap: break-word; border: none; margin: 20px auto; display: block;"/>
                    </p>*@




                <br>
                <br>
                <br>

                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <img class="avatar" src="~/Images/CafeYear/1.jpg" />
                </p>




                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <span style="font-size: 14px;"><strong style="word-wrap: break-word; text-align: start;">14号股东、1029公益基金会秘书长FLORA DOU女士致辞</strong></span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px;">
                    <span style="font-size: 14px;"><strong style="word-wrap: break-word;"><br /></strong></span>
                </p>
                <p style="clear: both; white-space: normal;">
                    FLORA DOU女士在致辞中说，通过一年的动作，大家深刻认识到1029不仅是一个文化、传承、投资、融资的平台，它更应该发展成公益的平台。所以2015年10月17日1029慈善基金会正式成立，基金会将积极参加社会活动，参加公益组织合作，带动移民有品质的融入加拿大主流社会，提升华人的社会影响。
                </p>


                @*<p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <img src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzV5pXK6Oo2ZoNHHR31CleJB0BBiav8MsiaoRlkbXTDAAawDMmnibl75775A/0?wx_fmt=jpeg" data-type="jpeg" data-ratio="0.6654545454545454" data-w="550" style="max-width: 550px; height: auto !important; word-wrap: break-word; border: none; margin: 20px auto; display: block;"/>
                    </p>*@


                <br>
                <br>
                <br>
                <p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                    <span style="font-size: 14px;"><strong style="word-wrap: break-word; text-align: start;">30号股东、中加体育基金会秘书长吴自力先生上台致词</strong></span>
                </p>
                <p style="clear: both; white-space: normal;">
                    中加体育基金会秘书长吴自力表示，中加体育基金会是产生于1029平台的第一个公益组织，借助1029平台，大力推动华人移民，尤其是中加的体育交流活动，此前的9月22组织了中加体育交流周，其中冬奥论坛取得了非常大的成功。对于中加体育基金会以后的发展方向，他认为要把握一个中心两个基本点，以体育公益为中心，以2022年北京成为冬奥城市为基点大力推动北京体育的交流与合作，从而带动两个城市之间的文化和经济的交流。
                </p>


                @*<p style="margin-top: 0px; margin-bottom: 0px; clear: both; white-space: normal; word-wrap: break-word; padding: 0px; text-align: center;">
                        <img src="https://mmbiz.qlogo.cn/mmbiz/CDWtN4Vgibjc4E5vV7DhuhEKFwVSuERzVKCvzmRlbOmaWw8qff7W6401kfSJk7d3eDAYoWroPyQtIiciaRGFo5mdQ/0?wx_fmt=jpeg" data-type="jpeg" data-ratio="0.5618181818181818" data-w="550" style="max-width: 550px; height: auto !important; word-wrap: break-word; border: none; margin: 20px auto; display: block;"/>
                    </p>*@



                <p style="clear: both; white-space: normal;">
                    据悉，1029咖啡馆将在北美一些重点城市，如加拿大的多伦多、渥太华和蒙特利尔，美国的洛杉矶、西雅图、旧金山、波士顿、纽约等地设立分部，在进一步做大做强1029品牌的同时，全面展示新一代华人凝聚力和影响力。
                </p>



            </div>
        </div>
    </div>


    <hr class="divider" />

    <h3 class="rich_media_title">
        Jun 20, 2015- Judy&#39;s party video
    </h3>
    <p style="clear: both; white-space: normal; text-align: center;">
        <iframe src="https://drive.google.com/file/d/0B0kCi7jXfzq0LUNOQm5rM3JWRUE/preview" width="640" height="480"></iframe>
    </p>
    <hr />
    <h3 class="rich_media_title" id="activity-name">
        乐尚活动 | 晚霞沐浴中的私人晚宴 来自Judy Dou初夏的问候
    </h3>
    <p>
        <em id="post-date" class="rich_media_meta rich_media_meta_text">2015-06-18</em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<em class="rich_media_meta rich_media_meta_text">温哥华乐活网</em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">乐尚温哥华</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">乐尚温哥华</span>
    </p>



    <p>
        <span class="profile_arrow_wrp" id="js_profile_arrow_wrp"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<em class="profile_arrow arrow_out"></em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<em class="profile_arrow arrow_in"></em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
    </p>
    <p style="white-space: normal; text-align: center;">
        <img src="http://mmbiz.qpic.cn/mmbiz/kicmKNATR9Cdibpw5sYHdgefI2dIuwqD6heVukSpadmnYn6F47v8cDvMn3Qxn7Sc7NVHmzA12DRxbKJJOEWjyorw/0?wx_fmt=jpeg" />
    </p>
    <p style="white-space: normal; text-align: center;">
        <span style="font-size: 14px; text-align: center; margin: 0px; padding: 0px; max-width: 100%; white-space: pre-wrap; color: rgb(192, 0, 0); font-family: Arial; line-height: 25.6000003814697px; -webkit-text-stroke-color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); box-sizing: border-box !important; word-wrap: break-word !important;">&quot;</span><span style="background-color: rgb(255, 255, 255);"><span style="background-color: rgb(255, 255, 255); font-size: 14px; text-align: center; margin: 0px; padding: 0px; max-width: 100%; white-space: pre-wrap; color: rgb(192, 0, 0); font-family: Arial; line-height: 25.6000003814697px; -webkit-text-stroke-color: rgb(0, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;"> </span><span style="background-color: rgb(255, 255, 255); font-size: 14px; line-height: 1.8em;">6月20日周六下午6:30-9:30</span></span>
    </p>
    <p style="white-space: normal; text-align: center;">
        <span style="background-color: rgb(255, 255, 255);"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 14px;">5738 Churchill Street, Vancouver </span><span style="background-color: rgb(255, 255, 255); font-size: 14px; margin: 0px; padding: 0px; max-width: 100%; white-space: pre-wrap; color: rgb(192, 0, 0); font-family: Arial; line-height: 25.6000003814697px; -webkit-text-stroke-color: rgb(0, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;">&quot; </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
    </p>
    <p>
        <br />
    </p>
    <p style="clear: both; white-space: normal; text-align: center;">
        <span style="font-size: 14px;">乐活网携手<strong><span style="font-size: 14px; background-color: rgb(253, 234, 218);">Judy Dou</span></strong> 诚邀您莅临初夏晚宴交响曲，品味奢侈豪宅生活，动人美妙的音乐旋律，耐人回味的可口鸡尾酒，精致唯美的瓷器餐饮，美轮美幻的世界级艺术精品……</span>
    </p>
    <p>
        <br />
    </p>
    <p style="clear: both; white-space: normal; text-align: center;">
        <img src="http://mmbiz.qpic.cn/mmbiz/kicmKNATR9Cdibpw5sYHdgefI2dIuwqD6hL8VrzJvRBHCgAh8tU3F0rVvRaBOIS9OARranib2wYs5XYknsdvfZkLg/0?wx_fmt=jpeg" class="" data-type="jpeg" data-ratio="1.4466403162055337" data-w="" />
        <br />
        <img src="http://mmbiz.qpic.cn/mmbiz/kicmKNATR9Cdibpw5sYHdgefI2dIuwqD6hG8HqibbZbrfLdz4EbMRGKt500GdL7llFpprGeFDjGVzCLK7cOXcMfjg/0?wx_fmt=jpeg" class="" data-type="jpeg" data-ratio="0.66600790513834" data-w="" />
    </p>
    <p style="clear: both; white-space: normal; text-align: center;">
        <img src="http://mmbiz.qpic.cn/mmbiz/kicmKNATR9Cdibpw5sYHdgefI2dIuwqD6hoxP2S6QQcKrsnDYxPAXUxI4WHW4IcBxicPefsXBCYLdljBC5f1atxAg/0?wx_fmt=jpeg" class="" data-type="jpeg" data-ratio="0.6462450592885376" data-w="" />
    </p>
    <p style="clear: both; white-space: normal; text-align: center;">
        <img src="http://mmbiz.qpic.cn/mmbiz/kicmKNATR9Cdibpw5sYHdgefI2dIuwqD6h69AAUqFELTvDJAtXfp0uIH7u4CjDr2Ccguxk2nuSBmqkXzNML11QJA/0?wx_fmt=jpeg" class="" data-type="jpeg" data-ratio="0.6739130434782609" data-w="" />
    </p>
    <p style="clear: both; white-space: normal; text-align: center;">
        <img src="http://mmbiz.qpic.cn/mmbiz/kicmKNATR9Cdibpw5sYHdgefI2dIuwqD6hl7QewJTDZ2sBDULJ8lXUbMBKw5MmpR6n1qTjyhhU20xZOTYb4YD4yw/0?wx_fmt=jpeg" class="" data-type="jpeg" data-ratio="0.6245059288537549" data-w="" />
    </p>
    <p style="clear: both; white-space: normal; text-align: center;">
        <img src="http://mmbiz.qpic.cn/mmbiz/kicmKNATR9Cdibpw5sYHdgefI2dIuwqD6hNDsKHco3Mf2YV43R27NjTSBC3zFViawWkBDaEyibj1bshzriap4n8IKwQ/0?wx_fmt=jpeg" class="" data-type="jpeg" data-ratio="0.6245059288537549" data-w="" />
    </p>
    <p style="clear: both; white-space: normal; text-align: center;">
        <img src="http://mmbiz.qpic.cn/mmbiz/kicmKNATR9Cdibpw5sYHdgefI2dIuwqD6hia1T4u2lOsXyw1TZiabOsKtdAYvkCksBWtd6F0icAelQt50ias6KH2uADQ/0?wx_fmt=jpeg" class="" data-type="jpeg" data-ratio="0.7154150197628458" data-w="" />
    </p>
    <p>
        <br />
    </p>
    <p style="white-space: normal; text-align: center;">
        <span style="background-color: rgb(253, 234, 218); font-size: 14px;">时间：<span style="background-color: rgb(253, 234, 218); font-size: 14px; line-height: 1.8em;">6月20日周六下午6:30-9:30</span></span>
    </p>
    <p style="white-space: normal; text-align: center;">
        <span style="background-color: rgb(253, 234, 218); font-size: 14px;">地址：5738 Churchill Street, Vancouver </span>
    </p>
    <p style="text-align: center;">
        <br />
    </p>
    <p style="white-space: normal; text-align: center;">
        <span style="font-size: 20px;">精致 美好 奢华</span>
    </p>

    <p>
        <br />
    </p>

    @*<p style="clear: both; white-space: normal; text-align: center;">
            <img data-s="300,640" data-type="jpeg" src="http://www.weisuyun.com/ueditor/php/upload/image/20160106/1452033679123643.jpg" data-ratio="0.7509881422924901" data-w="" style="max-width: 60%; height: auto !important; line-height: 22.4px;"/><br/>
        </p>
        <section style="white-space: normal; max-width: 100%; padding: 0px; margin: 0px 0px 0px 1em; box-sizing: border-box !important; word-wrap: break-word !important; text-align: center;">
            <span style="line-height: 22.4px; color: rgb(255, 255, 0); max-width: 100%; padding: 4px 10px; text-align: center; margin: 0px; border-radius: 5px; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(112, 48, 160);"><strong style="max-width: 100%; padding: 0px; margin: 0px; box-sizing: border-box !important; word-wrap: break-word !important;"><span class="tn-page-ed-type-text ng-scope ng-valid tn-page-editable ng-dirty" placeholder="{ 点击编辑 }" style="border-radius: 5px; font-family: inherit; max-width: 100%; padding: 4px 10px; margin: 0px; box-sizing: border-box !important; word-wrap: break-word !important;">扫扫二维码 关注JudyDou</span></strong></span>
        </section>*@





    <p>
        <span style="display:none;" class="media_tool_meta meta_primary tips_global meta_praise" id="like"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<em class="icon_praise_gray"></em><span class="praise_num" id="likeNum"></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a id="js_report_article" style="display:none;" class="media_tool_meta tips_global meta_extra" href="javascript:void(0);">Report</a>
    </p>
    <link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/en_US/htmledition/style/page/appmsg/page_mp_article_improve_combo265910.css" />
